<button id="menu" [class]="menuClass" (click)="menuToggle()">
  <span class="open"><i class="fa fa-bars"></i> Menu</span>
  <span class="close"><i class="fa fa-close"></i></span>
</button>
<div id="sidebar_layout" [class]="menuClass">
  <h1 class="logo_name">JBAccess</h1>
  <p-button class="logout_btn" (onClick)="logOut()" icon="fa fa-sign-out" label="Logout"></p-button>
    <ul>
      <li>
        <a routerLink="/person" routerLinkActive="active">
          <i class="fa fa-users"></i>
          <span>Personnel</span>
        </a>
      </li>
      <li>
        <a routerLink="/places" routerLinkActive="active">
          <i class="fa fa-building"></i>
          <span>Places</span>
        </a>
      </li>
      <li>
        <a routerLink="/keys">
          <i class="fa fa-key"></i>
          <span>Keys</span>
        </a>
      </li>
      <li>
        <a routerLink="">
          <i class="fa fa-search"></i>
          <span>Doors</span>
        </a>
      </li>
      <li>
        <a routerLink="">
          <i class="fa fa-pencil"></i>
          <span>Roles</span>
        </a>
      </li>
    </ul>
</div>
