<div id="sidebar_layout">
  <h1 class="logo_name">JBAccess</h1>
  <p-button class="logout_btn" (onClick)="logOut()" label="Log out"></p-button>
    <ul>
      <li>
        <i class="fa fa-users"></i>
        <a routerLink="/person" routerLinkActive="active">Personnel</a>
      </li>
      <li>
        <i class="fa fa-building"></i>
        <a routerLink="/places" routerLinkActive="active">Places</a>
      </li>
      <li>
        <i class="fa fa-key"></i>
        <a routerLink="/keys">Keys</a>
      </li>
      <li>
        <i class="fa fa-search"></i>
        <a routerLink="">Doors</a>
      </li>
      <li>
        <i class="fa fa-pencil"></i>
        <a routerLink="">Roles</a>
      </li>
    </ul>
</div>
