<div class="p-grid">
  <div class="p-col-3">
    <p-button label="Back" (onClick)="backToTable()" icon="fa fa-arrow-left"></p-button>
  </div>
  <div class="p-col-9">
    <div>{{person.name}}</div>
  </div>
</div>
<p-tabView>
  <p-tabPanel header="Keys list">
    <p-table [value]="keys">
      <ng-template pTemplate="header">
        <tr>
          <th>Key</th>
          <th>Access key</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-key>
        <tr>
          <td>{{key.name}}</td>
          <td>{{key.accessKey}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
  <p-tabPanel header="Roles list">
    <p-table [value]="roles">
      <ng-template pTemplate="header">
        <tr>
          <th>All Roles</th>
          <th>State</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-role>
        <tr>
          <td>{{role.name}}</td>
          <td><p-inputSwitch (onChange)="switchChange(person.id, role.id, $event)" [(ngModel)]="role.checked"></p-inputSwitch></td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
  <p-tabPanel header="ACL list">
    Content 3
  </p-tabPanel>
</p-tabView>
