<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
<p-toast>
  <ng-template let-message pTemplate="message">
    <span class="ui-toast-icon pi"
          [ngClass]="{'pi-info-circle': message.severity == 'info', 'pi-exclamation-triangle': message.severity == 'warn',
                            'pi-times': message.severity == 'error', 'pi-check' :message.severity == 'success'}"></span>
    <div class="ui-toast-message-text-content">
      <div class="ui-toast-summary">{{message.summary}}</div>
      <div class="ui-toast-detail">{{message.detail}}</div>
    </div>
  </ng-template>
</p-toast>
