$main-color: #34393a;

@media all and (min-width: 900px) {
  #wrapper {
    padding-left:160px;
  }
}
@media all and (max-width: 899px) {
  #wrapper {
    padding-left:0;
  }
}


#main {
  padding: 10px;
}
@media screen and (max-width:768px) {
  .wrapper_layout {
    .nav_wrapper app-side-nav{
      display: none;
    }
  }
}




.wrapper_layout {
  .nav_wrapper app-side-nav.toggle-nav{
    display: block;
  }
}
