$main-color: #34393a;

@media all and (min-width: 900px) {
  #wrapper {
    padding-left:160px;
  }
}
@media all and (max-width: 899px) {
  #wrapper {
    padding-left:0;
  }
}
#main {
  padding: 10px;
}
