$main-color: #34393a;
@media screen and (max-width:768px) {
  .wrapper_layout {
    .nav_wrapper app-side-nav{
      display: none;
    }
  }
}
div {
  padding: 0;
  margin: 0;
  color: $main-color;
  font-size: 16px;
}

#main_layout {
  padding: 10px 15px;
}
.nav_wrapper {
  padding: 0 !important;
}
.wrapper_layout {
  .nav_wrapper app-side-nav.toggle-nav{
    display: block;
  }
}
