<p-button class="right" styleClass="ui-button-primary" label="Resolve ACLs" (onClick)="displayResolveAcls = true;"></p-button>

<p-dropdown *ngIf="personsAndRoles"
            [options]="personsAndRoles"
            [(ngModel)]="currentTarget"
            placeholder="Select a Person or a Role"
            [group]="true"
            [filter]="true"
            (onChange)="onTargetSelected(currentTarget)"
            filterBy="label,value.name"></p-dropdown>
<hr>

<div *ngIf="currentTarget">

  <h2>
    ACLs for {{ currentTarget.targetType === 'person' ? "person" : "role"}}
    {{ currentTarget.item.name }}
  </h2>
  <div class="place" *ngFor="let place of places">
    <div class="name">
      <h3><small>{{ place.id }}:</small> {{ place.name }}</h3>
    </div>
    <div class="inner-flex">
      <div class="allow">

        <p-button *ngIf="!aclsByPlace[place.id].allow"
                  styleClass="ui-button-success"
                  icon="fa fa-plus"
                  (onClick)="addAcl(currentTarget, place.id, ACL_TYPE.Allow, $event)"></p-button>

        <div *ngIf="aclsByPlace[place.id].allow">
          {{ aclsByPlace[place.id].allow.id }}
          <p-button styleClass="ui-button-danger"
                    icon="fa fa-trash"
                    (onClick)="deleteAcl(aclsByPlace[place.id].allow, $event)"></p-button>
        </div>

      </div>
      <div class="disallow">

        <p-button *ngIf="!aclsByPlace[place.id].disallow"
                  styleClass="ui-button-danger"
                  icon="fa fa-plus"
                  (onClick)="addAcl(currentTarget, place.id, ACL_TYPE.Disallow, $event)"></p-button>

        <div *ngIf="aclsByPlace[place.id].disallow">
          {{ aclsByPlace[place.id].disallow.id }}
          <p-button styleClass="ui-button-danger"
                    icon="fa fa-trash"
                    (onClick)="deleteAcl(aclsByPlace[place.id].disallow, $event)"></p-button>
        </div>

      </div>
    </div>
  </div>
</div>

<p-dialog header="Resolve ACLs" [modal]="true" [(visible)]="displayResolveAcls">
  <p-dropdown *ngIf="controllers.length"
              [options]="controllers"
              [(ngModel)]="selectedController"
              placeholder="Select a Controller"
              [filter]="true"
              (onChange)="onControllerSelected(selectedController)"
              filterBy="label,value.name,value.id,value.controllerId"></p-dropdown>
  <hr>
  <pre>
    {{ resolveResult }}
  </pre>
</p-dialog>
