.place {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: lightgrey solid 1px;
  &:first-of-type {
    border-top: lightgrey solid 1px;
  }

  & > * {
    flex:1 1 110px;
    text-align: center;
    padding: 3px;
  }
  .name {
    flex:100 1 auto;
    text-align: left;
  }
}
.disallow {
  background-color: thistle;
}
.allow {
  background-color: aquamarine;
}

pre {
  height: 300px;
  width: 400px;
  max-width: 100%;
}
.right {
  float: right;
}
