<p-button styleClass="ui-button-primary" label="Create Key" (onClick)="displayCreateKeyDialog = true"></p-button>

<p-table [value]="keys">
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Name [<em>Access Key</em>]</th>
      <th>Person</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-key>
    <tr>
      <td>{{key.id}}</td>
      <td>{{key.name}} [<em>{{key.accessKey}}</em>]</td>
      <td>{{key.person?.id}} : {{key.person?.name}}</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="Create Key" [modal]="true" [(visible)]="displayCreateKeyDialog">
  <p-header></p-header>
  <form [formGroup]="newKeyForm" (submit)="createKey()">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon">Name</span>
      <input
        type="text"
        class="ui-inputtext ui-corner-all ui-state-default ui-widget"
        pInputText
        placeholder="Key Name"
        formControlName="keyName"
        required>
    </div>
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon">Access Key</span>
      <input
        type="text"
        class="ui-inputtext ui-corner-all ui-state-default ui-widget"
        pInputText
        placeholder="Access Key"
        formControlName="keyAccessKey"
        required>
    </div>
    <div>
      <p-listbox [options]="persons" formControlName="keyPerson" optionLabel="name" filter="filter"></p-listbox>
    </div>
    <br>
    <p-button styleClass="ui-button-info" label="Create" type="submit"></p-button>
    <!-- [disabled]="!newKeyForm.valid" -->
  </form>
</p-dialog>
