/* You can add global styles to this file, and also import other style files*/
html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  padding: 0;
}

.ui-table-tbody td p-button {
  $_radius: 3px;
  button.ui-corner-all {
    border-radius: 0;
  }

  &:first-of-type {
    button.ui-corner-all {
      border-radius: $_radius 0 0 $_radius;
    }
  }
  &:last-of-type {
    button.ui-corner-all {
      border-radius: 0 $_radius $_radius 0;
    }
  }
}

.ui-table table {
  table-layout: auto;
}
.ui-table-tbody, .ui-table-thead {
  td:last-child, th:last-child {
    width: 180px;
  }
  td:first-child, th:first-child {
    width:  80px;
  }
}
